/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";



$orange: #f6921e;
$teel: #4dc5b2;
$dark: #404040;
$green_positive:#7bdb46;
$red_negative:#d45855;


$twitter_color: #4dc5b2;
$facebook_color: #5D88C6;
$instagram_color: #A790E0;
$youtube_color: #FC7A7A;

/* --------------------------------------- */
/* Shared styles across report */
/* --------------------------------------- */


html, body {
    color:#0000;
    background: #f9f9f9;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    overflow-x: hidden;
}

.amcharts-chart-div{
    a {
        display:none !important;
    }
}

button:focus {outline:0;}
textarea:focus {outline:0;}

@media print {
  .amcharts-bg, .amcharts-plot-area, .amcharts-legend-bg {
    display: none;
  }
}


/* --------------------------------------- */
/* Specific styles for this page */
/* --------------------------------------- */


.report-daily-sentiment{

    position:absolute;
    width:1920px;
    height: 1080px;
    top:0;
    left:0;
    
    //--------------------------------
    // Main Content (Slide)
    //--------------------------------

    .slide {
        position:relative;
        width:1920px;
        height: 1080px;
        overflow:hidden;
        color:#404040;

        .report_title {
            text-transform: uppercase;    
            border-bottom:10px solid #f6921d;
            padding:15px 15px 15px 105px;

            .top{    
                font-size: 40px;
                font-weight:bold;
            }
            .bottom{    
                font-size: 40px;
            }

        }


        .content{
            position:relative;
            width:1771px;
            height:850px;
            font-size:25px;
            margin-top:20px;
            margin-left:83px;
            //background:pink;
            padding:0px 20px;

            .content-area{
                color:black;
                position:relative;
                top:0px;
                left:0px;
                width:500px;
                height:500px;    
                background:yellow;

                .col_title{
                    position:relative;
                    color:#404040;
                    font-size:30px;
                    text-transform:uppercase;
                    font-weight:bold;
                }
            }

            .main-layout-wrap{
                color:#404040;
                display:flex;
                align-items: center;
                margin-bottom:30px;

                .col1{
                    position:relative;
                    float: left;
                    width:100%;
                    //background:#a5f5b8;
                }

                .col_title{
                    position:relative;
                    color:#404040;
                    font-size:30px;
                    text-transform:uppercase;
                    font-weight:bold;
                    border:1px solid #404040;
                    display:inline-block;
                    padding:5px 30px;
                    border-radius: 10px;
                    text-align:center;
                }

            }

        }


        .graph_wrap {
            position:relative;
            width:100%;
            height:100px;
            color:white;
            //background:green;
        }


        .big_circle {
          position:absolute;
          height: 260px;
          width: 260px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          text-align:center;
          //border:5px solid #404040;
          top:0;

          .vertical-center {
            padding-top: 70px;
          }

          p{
            font-size:20px;
          }

          .big{
              font-size: 50px;
              line-height: 20%;
              font-weight: bold;
          }

          &.pos{
            background: #71d53e;
            color:white;
          }

          &.neg{
            background: #ce4d4b;
            color:white;
          }

          &.neutral{
            background: #BBBBBB;
            color: $dark;
          }

        }



        
    }
 


    //--------------------------------
    // Background 
    //--------------------------------


    .slide-background{
        position:absolute;
        top:0;
        left:0;
        width:1920px;
        height: 1080px;
        overflow:hidden;
        background:white;

        .left-bar{
            position:absolute;
            top:0;
            left:0;
            width:83px;
            height:1080px;
        }

        .right-bar{
            position:absolute;
            top:0px;
            left:1895px;
            width:25px;
            height:1080px;
        }

        .bubbles{
            .b-top{
                position:absolute;
                height: 650px;
                width: 650px;
                background-color: #f2f2f2;
                border-radius: 50%;
                top:-200px;
                left:-150px;
            }
            .b-middle{
                position:absolute;
                height: 150px;
                width: 150px;
                background-color: #f2f2f2;
                border-radius: 50%;
                top:281px;
                left:510px;
            }
            .b-bottom{
                position:absolute;
                height: 400px;
                width: 400px;
                background-color: #f2f2f2;
                border-radius: 50%;
                top:930px;
                left:1620px;
            }
        }

        .vertical{    
            position:absolute;
            font-size: 35px;
            color:white;
            transform: rotate(-90deg);
            transform-origin: top left;
            left:15px;
            top:1040px;
            text-transform: uppercase;    
        }

    }


    //--------------------------------
    // Footer 
    //--------------------------------

    .footer{
        position:absolute;
        top:1020px;
        width:1920px;
        height:60px;
        color:#a9a9a9;
        //background:yellow;


        .date-range {
            position:absolute;
            font-size:25px;
            top:18px;
            left:100px;
            text-transform: uppercase;    
        }

        img{
            float:right;
            margin-right:40px;
        }
    }


    //--------------------------------
    // Color Palette 
    //--------------------------------

    .orange {
        background: #f6921d;
    }
    .teel {
        background: #3fc6ca;
    }
    .dark-blue {
        background: #2b3f7d;
    }


}





