/* BUZZ PANELS GLOBAL CSS v0.2 */
/* --------------------------------------- */
/* Shared styles across report */
/* --------------------------------------- */
html, body {
  color: #0000;
  background: #f9f9f9;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow-x: hidden;
}

.amcharts-chart-div a {
  display: none !important;
}

button:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

@media print {
  .amcharts-bg, .amcharts-plot-area, .amcharts-legend-bg {
    display: none;
  }
}
/* --------------------------------------- */
/* Specific styles for this page */
/* --------------------------------------- */
.report-cover-slide {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}
.report-cover-slide .slide {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  color: #404040;
}
.report-cover-slide .slide .report_title {
  position: absolute;
  text-transform: uppercase;
  color: white;
  top: 265px;
  left: 738px;
  width: 800px;
}
.report-cover-slide .slide .report_title .top {
  font-size: 50px;
  font-weight: bold;
}
.report-cover-slide .slide .content {
  position: relative;
  width: 1771px;
  height: 860px;
  font-size: 25px;
  margin-top: 145px;
  margin-left: 83px;
  padding: 0px 20px;
}
.report-cover-slide .slide .badge {
  background: white;
  width: 525px;
  height: 525px;
  position: absolute;
  top: 118px;
  left: 175px;
  border-radius: 50%;
  text-align: center;
}
.report-cover-slide .slide .badge img {
  margin-top: 50px;
}
.report-cover-slide .slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: #2b3f7d;
}
.report-cover-slide .slide-background .left-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 1080px;
}
.report-cover-slide .slide-background .right-bar {
  position: absolute;
  top: 0px;
  left: 1895px;
  width: 25px;
  height: 1080px;
}
.report-cover-slide .orange {
  background: #f6921d;
}
.report-cover-slide .teel {
  background: #3fc6ca;
}
.report-cover-slide .dark-blue {
  background: #2b3f7d;
}
.report-cover-slide .white {
  background: white;
}
