/* BUZZ PANELS GLOBAL CSS v0.2 */
/* --------------------------------------- */
/* Shared styles across report */
/* --------------------------------------- */
html, body {
  color: #0000;
  background: #f9f9f9;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow-x: hidden;
}

.amcharts-chart-div a {
  display: none !important;
}

button:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

@media print {
  .amcharts-bg, .amcharts-plot-area, .amcharts-legend-bg {
    display: none;
  }
}
/* --------------------------------------- */
/* Specific styles for this page */
/* --------------------------------------- */
.report-twitter-mentions {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}
.report-twitter-mentions .slide {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  color: #404040;
}
.report-twitter-mentions .slide .report_title {
  text-transform: uppercase;
  border-bottom: 10px solid #f6921d;
  padding: 15px 15px 15px 105px;
}
.report-twitter-mentions .slide .report_title .top {
  font-size: 40px;
  font-weight: bold;
}
.report-twitter-mentions .slide .report_title .bottom {
  font-size: 40px;
}
.report-twitter-mentions .slide .content {
  position: relative;
  width: 1771px;
  height: 850px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 83px;
  padding: 0px 20px;
}
.report-twitter-mentions .slide .content .content-area {
  color: black;
  position: relative;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  background: yellow;
}
.report-twitter-mentions .slide .content .content-area .col_title {
  position: relative;
  color: #404040;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.report-twitter-mentions .slide .content .main-layout-wrap {
  color: #404040;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.report-twitter-mentions .slide .content .main-layout-wrap .col1 {
  position: relative;
  float: left;
  width: 100%;
}
.report-twitter-mentions .slide .content .main-layout-wrap .col_title {
  position: relative;
  color: #404040;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid #404040;
  display: inline-block;
  padding: 5px 30px;
  border-radius: 10px;
  text-align: center;
}
.report-twitter-mentions .slide .graph_wrap {
  position: relative;
  width: 100%;
  height: 100px;
  color: white;
}
.report-twitter-mentions .slide .big_circle {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  top: 0;
  color: white;
}
.report-twitter-mentions .slide .big_circle .vertical-center {
  padding-top: 80px;
}
.report-twitter-mentions .slide .big_circle p {
  font-size: 25px;
}
.report-twitter-mentions .slide .big_circle .big {
  font-size: 60px;
  line-height: 20%;
  font-weight: bold;
}
.report-twitter-mentions .slide .big_circle.pos {
  background: #71d53e;
}
.report-twitter-mentions .slide .big_circle.neg {
  background: #ce4d4b;
  color: white;
}
.report-twitter-mentions .slide .big_circle.neutral {
  background: #4a4f55;
}
.report-twitter-mentions .slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: white;
}
.report-twitter-mentions .slide-background .left-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 1080px;
}
.report-twitter-mentions .slide-background .right-bar {
  position: absolute;
  top: 0px;
  left: 1895px;
  width: 25px;
  height: 1080px;
}
.report-twitter-mentions .slide-background .bubbles .b-top {
  position: absolute;
  height: 650px;
  width: 650px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: -200px;
  left: -150px;
}
.report-twitter-mentions .slide-background .bubbles .b-middle {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: 281px;
  left: 510px;
}
.report-twitter-mentions .slide-background .bubbles .b-bottom {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: 930px;
  left: 1620px;
}
.report-twitter-mentions .slide-background .vertical {
  position: absolute;
  font-size: 35px;
  color: white;
  transform: rotate(-90deg);
  transform-origin: top left;
  left: 15px;
  top: 1040px;
  text-transform: uppercase;
}
.report-twitter-mentions .footer {
  position: absolute;
  top: 1020px;
  width: 1920px;
  height: 60px;
  color: #a9a9a9;
}
.report-twitter-mentions .footer .date-range {
  position: absolute;
  font-size: 25px;
  top: 18px;
  left: 100px;
  text-transform: uppercase;
}
.report-twitter-mentions .footer img {
  float: right;
  margin-right: 40px;
}
.report-twitter-mentions .orange {
  background: #f6921d;
}
.report-twitter-mentions .teel {
  background: #3fc6ca;
}
.report-twitter-mentions .dark-blue {
  background: #2b3f7d;
}
