/* BUZZ PANELS GLOBAL CSS v0.2 */
/* --------------------------------------- */
/* Shared styles across report */
/* --------------------------------------- */
html, body {
  color: #0000;
  background: #f9f9f9;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  overflow-x: hidden;
}

.amcharts-chart-div a {
  display: none !important;
}

button:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

@media print {
  .amcharts-bg, .amcharts-plot-area, .amcharts-legend-bg {
    display: none;
  }
}
/* --------------------------------------- */
/* Specific styles for this page */
/* --------------------------------------- */
.report-share-voice {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0;
  left: 0;
}
.report-share-voice .slide {
  position: relative;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  color: #404040;
}
.report-share-voice .slide .report_title {
  text-transform: uppercase;
  border-bottom: 10px solid #f6921d;
  padding: 15px 15px 15px 105px;
}
.report-share-voice .slide .report_title .top {
  font-size: 40px;
  font-weight: bold;
}
.report-share-voice .slide .report_title .bottom {
  font-size: 40px;
}
.report-share-voice .slide .content {
  position: relative;
  width: 1771px;
  height: 850px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 83px;
  padding: 0px 20px;
}
.report-share-voice .slide .content .main-layout-wrap {
  color: #404040;
  display: flex;
  align-items: top;
  margin-bottom: 30px;
}
.report-share-voice .slide .content .main-layout-wrap .col1 {
  position: relative;
  float: left;
  width: 50%;
}
.report-share-voice .slide .content .main-layout-wrap .col2 {
  position: relative;
  float: left;
  width: 50%;
}
.report-share-voice .slide .content .main-layout-wrap .col_title {
  position: relative;
  color: #404040;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.report-share-voice .slide .graph_wrap {
  position: relative;
  width: 100%;
  height: 100px;
  color: white;
  margin-top: 0px;
}
.report-share-voice .slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  overflow: hidden;
  background: white;
}
.report-share-voice .slide-background .left-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 83px;
  height: 1080px;
}
.report-share-voice .slide-background .right-bar {
  position: absolute;
  top: 0px;
  left: 1895px;
  width: 25px;
  height: 1080px;
}
.report-share-voice .slide-background .bubbles .b-top {
  position: absolute;
  height: 650px;
  width: 650px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: -200px;
  left: -150px;
}
.report-share-voice .slide-background .bubbles .b-middle {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: 281px;
  left: 510px;
}
.report-share-voice .slide-background .bubbles .b-bottom {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: #f2f2f2;
  border-radius: 50%;
  top: 930px;
  left: 1620px;
}
.report-share-voice .slide-background .vertical {
  position: absolute;
  font-size: 35px;
  color: white;
  transform: rotate(-90deg);
  transform-origin: top left;
  left: 15px;
  top: 1040px;
  text-transform: uppercase;
}
.report-share-voice .footer {
  position: absolute;
  top: 1020px;
  width: 1920px;
  height: 60px;
  color: #a9a9a9;
}
.report-share-voice .footer .date-range {
  position: absolute;
  font-size: 25px;
  top: 18px;
  left: 100px;
  text-transform: uppercase;
}
.report-share-voice .footer img {
  float: right;
  margin-right: 40px;
}
.report-share-voice .orange {
  background: #f6921d;
}
.report-share-voice .teel {
  background: #3fc6ca;
}
.report-share-voice .dark-blue {
  background: #2b3f7d;
}
